/*COLOR PALETTE
Juicy Yellow #FFE75D
PINKISH RED #D24970
DARK SLATE BLUE #32657C
CADET BLUE #669BB7
PERU #CF8145

/* TO DO: add font style that we select from google fonts*/
.jumbotron{
    background-color: #32657C;
    color: whitesmoke;
}
#top_img_container{
    display: flex;
    justify-content: center;
    align-content: center;
}
#search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#search_button{
    color: #FFE75D;
    background-color: #669BB7;
}

#footer_container{
    background-color: #32657C;
}

body{
    font-family: 'Courgette', cursive;
    font-family: 'Merienda', cursive;
}
/*TO DO: apply flexbox to divs in body*/

